# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
/app/src/main/java/flare/logs/last_order_id.txt
/app/src/main/java/flare/logs/order_logs.csv